<a href="https://colab.research.google.com/github/laaksonenl/bayesian-datascience/blob/main/Facebook_bidding_system_A_B_testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

In [6]:
dataset_path = '/content/drive/MyDrive/colab/Data_Science_Case_Study.xlsx'

In [7]:
control_group = pd.read_excel(dataset_path, 'Control_Group')
test_group = pd.read_excel(dataset_path, 'Test_Group')

In [8]:
control_group.head()

      Campaign Name        Date  ...  # of Add to Cart  # of Purchase
0  Control Campaign  2017.01.01  ...             566.0          383.0
1  Control Campaign  2017.01.02  ...            1577.0          644.0
2  Control Campaign  2017.01.03  ...            1381.0          639.0
3  Control Campaign  2017.01.04  ...            1650.0          649.0
4  Control Campaign  2017.01.05  ...             940.0          455.0

[5 rows x 10 columns]

In [9]:
test_group.head()

   Campaign Name        Date  ...  # of Add to Cart  # of Purchase
0  Test Campaign  2017.01.01  ...              1371            913
1  Test Campaign  2017.01.02  ...              1253            510
2  Test Campaign  2017.01.03  ...               995            391
3  Test Campaign  2017.01.04  ...               951            434
4  Test Campaign  2017.01.05  ...               810            492

[5 rows x 10 columns]